.navbar {
    background-color: #b64b5b;
    padding: 10px;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #d59393;
}
